
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F2F2F2;
    }
    
    #top{
        text-align: left;
    }
    
    #logo{
        color: rgb(164, 1, 2);
        font-size: 60px;
        padding: 5px;
        
        
    }

    #navigation a{
        color: rgb(225, 52, 9);
        padding: 8px;
        text-decoration: none;
        font-size: 40px;
        
    }

    
    #navigation a:hover{
        color:gray;
        
    }

    #image img{
        width: 100%;
    
    }

