body{
    background-image: url("bg.png");

}

@keyframes schneeflogge1 {
    from {
        top: 0%;
    }

    to {
        top: 80%;
    }
}

@keyframes schneeflogge2 {
    from {
        top: 0%;
    }

    to {
        top: 80%;
    }
}

@keyframes header {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banderole {
    position: absolute;
    bottom: 10px;
    right: 7px;
}

.snowflake1{
    position: absolute;
    animation-name: schneeflogge1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    right: 15%;
}

.snowflake2{
    position: absolute;
    animation-name: schneeflogge2;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: .5s;
    right: 5%;
}

h1{
    color: white;
    position: absolute;
    top: 100px;
    left: 40px;


    animation-name: header;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}
  
li a:hover {
    background-color: #111;
}

li a.active{
    background-color: #4CAF50;
}

.menu{
    display: none;
    position: fixed;
    min-width: 1px;
    z-index: 1;
}

.menu a {
    color: black;
    background-color: #4d4d4d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(66, 66, 66);
}

.stat:hover .menu{
    display: block;
}

.stat{
    cursor: pointer;
}